body {
    font-family: "Prompt", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

ul{
    display: flex;
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
    gap: 1vw;
    font-size: 2.5vw;
font-weight: 500;
}


/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    background-color: hsl(161, 61%, 45%);
    padding: 2vw 4vw;
    border-radius: 3vw;
    margin: 2vw;
}

.nav a {
text-decoration: none;
color: white;
}

.nav a:hover {
    text-decoration: none;
    color: white;
    font-size: 2.8vw;
    font-weight: 700;
    }

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialMedia {
    display: flex;
    gap: 1vw;
}

.socialMedia img {
    height: 5vw;
}

.socialMedia a img:hover {
    height: 6vw;
}

/* Header */

.head {

}

.blogName {
    font-size: 5vw;
    color: hsl(161, 61%, 45%);
    font-weight: 800;
    line-height: 2;
    padding-left: 5vw;
}

.descriptions h1 {
    font-size: 2.8vw;
    color: hsl(161, 61%, 45%);
    font-weight: 300;
    line-height: 1;
    padding-left: 15vw;
    padding-bottom: 5vw;
}

/* .footer {
    background-color:hsl(161, 61%, 45%);
    display: flex;
    padding: 2vw;
    justify-content: flex-end;
}

.footSite {
    color: white;
    font-weight: 500;
    font-size: 3vw;
}*/

.blogSpace {
    margin: 2vw;
display: flex;
}



.blogOne{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.blogOne img {
    border-radius: 2vw;
    height: 30vw;
}

.blogtitle {
    display: flex;
 justify-content: center;

}

